body{
    /* border: 1px solid red; */
    height: 100vh;
    margin: 0;
    color: wheat;
    background-color: rgb(1, 1, 29);
    font-family: sans-serif;
}
header{
    /* text-align: center;
    border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
header img{
    width: 15rem;
    object-fit: cover;
    border-radius: 150px;
    
}
.bio{
    /* border: 1px solid green; */
}
#pro-pic{
    /* border: 1px solid red; */
}
header span{
    color: blueviolet;
}
hr{
    color: rgb(5, 40, 238);
    height: 5px;
    background-color: rgb(137, 174, 3);
}
footer{
    /* border: 1px solid red; */
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    
}
.contacts,.address,.social-media{
    /* border: 1px solid green; */
    width: 20rem;
    padding-top: 20px;
}
.project-heading{
    text-align: center;
font-size: 35px;
}
    

.project1{
    border: 1px solid;
    padding: 20px;
    border-radius: 50px;
    
}
.projects{
    display: flex;
    gap: 20px;
   margin: 40px;
   justify-content: space-around;
}
h2{
    color: orange;
    font-size: 35px;
  font-family: sans-serif;
}
p{
    color: yellow;
    font-size: 20px;
}
button{
    color: white;
    font-size: large;
    background-color: rgb(202, 133, 5);
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-top: 10px;

}
.heading p{
    font-style: italic;
    color: rgb(242, 109, 109);

}
.projects img{
    width: 300px;
}
